@media (max-width:530px) {
    .wishlist-item{
        display: flex;
        flex-direction: column;
    }
    .wishlist-card{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
}